.sectionBackground {
    padding: 2rem;
    text-align: center;
    background-color: rgb(1, 49, 39);
    isolation: isolate;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
}

/* Big screen */
@media(min-width:992px) {
    .hideOnSmallScreens {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
    }

    .hideOnBigScreens {
        display: none;
    }
}

/* Small screen */
@media(max-width:992px) {
    .hideOnSmallScreens {
        display: none;
    }

    .hideOnBigScreens {
        padding: 1rem;
        display: block;
    }
}

.seeMoreText {
    position: relative;
    z-index: 2;
    padding-bottom: 2em;
}

.seeMoreText a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}