.sectionBackground {
    padding: 2rem;
    text-align: center;
    background-image: url('/images/ricefield1.avif');
    isolation: isolate;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.sectionBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/* Big screen */
@media(min-width:992px) {
    .hideOnSmallScreens {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
    }

    .hideOnBigScreens {
        display: none;
    }
}

/* Small screen */
@media(max-width:992px) {
    .hideOnSmallScreens {
        display: none;
    }

    .hideOnBigScreens {
        padding: 1rem;
        display: block;
    }
}

.seeMoreText {
    position: relative;
    z-index: 2;
    padding-bottom: 2em;
}

.seeMoreText a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}