.sectionBackground {
    padding: 2rem;
    text-align: center;
    background-color: rgb(1, 49, 39);
    isolation: isolate;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 2rem;
}

.faqItem {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.faqItem summary {
    font-size: 1.5em;
}

.faqAnswer {
    text-align: left;
    display: block;
    margin-right: auto;
    width: 83.333333%;
}