.emblaButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background 0.3s;
    z-index: 2;
    color: white;
}

.emblaButton:hover {
    background: rgba(255, 255, 255, 0.6);
}

.prev {
    left: 10px;
}